td {
    padding-top: 5pt;
    padding-left: 5pt;
}

button {
    margin-top: 10pt;
    margin-left: 5pt;
}
#addButton {
    margin-left: 90pt;
}

.notes {
    margin:5pt;
    color:red;
    font-size: 15pt;
}