<table>
    <tr>
        <td>Ime:</td>
        <td><input [(ngModel)]="ime" ></td>
    </tr>
    <tr>
            <td>Priimek:</td>
            <td><input [(ngModel)]="priimek" ></td>
    </tr>
    <tr>
            <td>Email:</td>
            <td><input [(ngModel)]="email" ></td>
    </tr>
    <tr>
            <td>Matična št.:</td>
            <td><input [(ngModel)]="maticna" ></td>
    </tr>
</table>
<button (click)="goBack()">NAZAJ</button> <button id="addButton" (click)="add()">DODAJ</button>
<br>
<br>
<div class="notes" *ngIf='nameOfAdded'>
    Uslužbenec {{ nameOfAdded }} je dodan.
</div>
<div class="notes" *ngIf='!nameOfAdded'>
    Vnesite podatke!
</div>