@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

table {
  width: 100%;
}

body { 
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
}

.basic-container {
  padding: 30px;
}

.version-info {
  font-size: 8pt;
  float: right;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}



/* th {
  text-align: left;
  background-color: #039ae55b;
}
th, td {
  padding: 5px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

#deleteButton {
  background-color: red;
  color: white;
  border-radius: 100%;
}
.tableButtons {
  text-align: center;
}
#prisoten {
  color: green;
}
#odsoten {
  color: red;
}

input {
  margin-top:10pt;
} */