<div style="background-color: lightblue;
font-size: 15pt;
padding: 15pt;">
Pozdravljeni na spletni strani SpicaProjekt! Najprej na strani "Nastavitve" nastavite url in avtorizacijski ključ za povezavo na API. Potem lahko na strani "Zaposleni" in "Prisotni" lahko vidite seznam vseh zaposlenih oziroma seznam vseh prisotnih zaposlenih.
</div>
<nav>
  <a class="navigate" routerLink="/nastavitve">Nastavitve</a>
  <a class="navigate" routerLink="/employees">Zaposleni</a>  
  <a class="navigate" routerLink="/prisotni">Prisotni</a>
</nav>

<router-outlet></router-outlet>