nav {
    text-align: center;
    background-color: #039be5;
}

hr {
    display: block;
    border-color: black;
    border-width: 5pt;
    color: black
}

nav a {
    padding: 5px 10px;
    text-decoration: none;
    margin: 10px;
    display: inline-block;
    background-color: #eee;
    border-radius: 4px;
}

nav a:visited, a:link {
  color: #334953;
}

nav a:hover {
  color: #039be5;
  background-color: #cfd8dc;
}

nav a.active {
  color: #039be5;
}

nav a.selected {
    background-color: black;
}